@use '../../../styles/main';

.Footer {
  height: 70px;
  background-color: var(--background2);
  border-top: 1px solid var(--border);
  color: var(--color3);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 main.$webSidePadding;
  font-size: 14px;
  box-shadow: 0 -2px 4px var(--shadow);
}
