@use '../../../styles/main';

.Main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  padding: 32px main.$webSidePadding;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
