.Student {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 370px auto;
  align-items: center;
}

.StudentLink {
  text-decoration: none;
  color: var(--color);
  
  &:hover {
    text-decoration: underline;
  }
}

.GroupName {
  color: var(--color);
  opacity: 0.7;
  font-size: 0.9em;
  margin-left: 10px;
}

.--isDeleted {
  color: var(--color3);
  transition: color 0.5s ease;
  
  button {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
  }
}
